<a href="https://colab.research.google.com/github/lsn08/inf-pro/blob/master/%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%99%80_%ED%8A%9C%ED%94%8C(%EC%B5%9C%EC%A2%85)2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.구글 코렙(Colab)이란?
* 구글에서 제공하는 클라우드 기반의 파이썬 코딩 환경
* 설치가 필요없이 인터넷 브라우저에서 바로 실행 가능
* 구글 드라이브와 연동되어 파일 저장 및 관리가 용이
* 작업 내용은 자동 저장되지만, 완전한 실시간은 아니므로 Ctrl+S로 수동 저장 후 종료하는 것이 안전
* 다른 사람이 공유한 노트북은 [내 드라이브에 사본저장] 후 수정 가
## 장점
  * GPU, TPU 무료 제공 : 딥러닝/머신러닝 모델 학습에 적합
  * 공유와 협업이 쉬움 : 구글 문서처럼 링크 공유만으로 협업 가능
  * 시각화에 강함 : 그래프, 이미지 출력을 코드 셀 바로 아래에서 확인 가
  * 다양한 라이브러리 기본 내장 : pandas, matplotlib, seaborn, tensorflow 등

# 2. 셀의 종류
* <font color="blue">***코드 셀***</font> : 파이썬 코드 명령어를 실행할 수 있는 셀
* <font color="blue">***텍스트 셀***</font> : 설명을 달거나 문구 등을 적기 위한 텍스트 전용 셀(마크다운 문법 활용)
* 특정 셀에서 정의한 변수를 나중에 다른 셀에서 사용할 수 있음   
  → 셀간의 실행 순서가 꼬여서 에러가 날 수 있으므로 [런타임]-[세션 다시 시작 및 모두 실행]
* print 함수 없이도 셀 맨 아래줄 코드가 알아서 출력됨

In [ ]:
# 숫자 리스트 만들기
numbers = [1, 2, 3]
numbers

# 2.H1 참고: 마크다운(Markdown) 문법
## H2 참고: 마크다운(Markdown) 문법
### H3 참고: 마크다운(Markdown) 문법
#### H4 참고: 마크다운(Markdown) 문법
##### H5 참고: 마크다운(Markdown) 문법
###### H6 참고: 마크다운(Markdown) 문법

구글코랩, jupyter notebook, Notion 등 마크다운 문법을 지원하는 경우, 이를 잘 이용하면 깔끔한 문서를 만들 수 있음








###  제목
- *기울임*  또는 _기울임_
- **굵게** 또는 __굵게__
- ***굵고 기울임***
    - 들여쓰기(공백 4칸)




- `a = 10` : 코드 일부를 문장 안에서 강조할 때 사용

```python
  # 여러 줄 코드 블럭(백틱 3개 사용)
  def add(a, b):
    return a + b

  result = add(3, 5)
  print(result)
```

- 목록 depth 주기,  tab으로 들여쓰기







### 순서 있는 목록
1. 첫 번째
2. 두 번째

### 순서 없는 목록
 - 항목1
 - 항목2
  - 하위 항목
    - 더 깊은 항목






### 링크
[전북과학고](https://school.jbedu.kr/ejbs)

### 수식
수식을 작성하려면 $기호를 사용하여 수식을 감쌉니다.
  
  $\sqrt{3x-1}+(1+x)^2$   

### 줄바꿈하기
줄 바꿈하려면 문장 끝 (SPACE 3개 이상 넣어줘야 함 + enter)   
그래야 줄바꿈됩니다.

이렇게 하면 줄바꿈 안돼요.(SPACE 입력없이 +Enter만 입력)
줄바꿈 안돼요

# 3.구글 코렙 단축기
>## 1) 셀의 실행 : ▶️버튼 클릭
* Ctrl + Enter : 해당 셀을 실행하고 커서는 해당 셀에 남음
* Shift + Ente r: 해당 셀을 실행하고 다음 셀로 넘어감
* Alt + Enter : 해당 셀을 실행하고 바로 아래에 새로운 셀을 삽입하며 넘어감

>## 2) 셀의 삽입
* 상단 툴바의 [+코드] [+텍스트] 버튼을 눌러 삽입
* 코드셀을 위에 삽입 : Ctrl + M + A
* 코드셀을 아래에 삽입 : Ctrl + M + B

>## 3) 셀의 종류를 변경하는 방법
*   코드셀을 텍스트셀로 변경 : Ctrl + M + M
*   텍스트셀을 코드셀로 변경 : Ctrl + M + Y

>## 4) 셀을 삭제하는 방법
*   셀 우측의 휴지통 아이콘을 클릭하여 삭제
*   Ctrl + M + D

>## 5) 실행을 취소하는 방법
*   Ctrl + M + Z

>## 6) 복사하여 붙여넣기
* 셀 전체 복사해서 붙여넣기 : 셀선택 Ctrl + Shift + S → Ctrl + C → Ctrl + V
* 코드 한 줄 복사해 붙여넣기 : Shift + Alt + ↓
* 코드 한 줄 삭제하기 : Ctrl + Shift + K
* 변수 일괄 선택 후 수정하기 : Ctrl + Shift + L

>## 7) 코드를 주석으로, 주석을 코드로
* Ctrl + / (슬래시)

In [ ]:
fruits = ['apple', 'banana', 'orange']
fruits

#4.리스트란?
* 가장 많이 쓰이는 자료형 중 하나로
* 여러 개의 값을 <font color="blue">순서대로 저장할 수 있는 가변형 시퀀스</font> 자료구조

## 리스트의 특징
* 여러 개의 값을 하나의 변수에 저장
* 대괄호 []로 만들고, 값(=항목, 요소)들을 쉼표 ,로 구분
* 인덱스를 통해 개별 값에 접근 가능
* 가변형(Mutable) : 값 수정/삭제/추가 가능

# 5.리스트 생성방법

In [ ]:
# 대괄호 []로 직접 값 넣기 (기본)
numbers = [1, 2, 3]
numbers

In [ ]:
# list() 함수 사용
chars = list("hello")
chars

In [ ]:
# 빈 리스트 만들기
a = []
b = list()
print(a, b)

In [ ]:
# append() 사용
a.append(4)
a

In [ ]:
# + 연산자 이용
fruits = fruits + ['melon']
fruits

In [ ]:
# range() 함수 사용
my_list=list(range(5))
my_list=list(range(0,5))
my_list=list(range(0,5,1))
my_list

In [ ]:
# 반복문과 append() 사용
numbers = []
for i in range(1, 5):
  numbers.append(i**2)
print(numbers)  # [1, 4, 9, 16]

#6.리스트 연산자

In [ ]:
# 리스트 이어붙이기 (덧셈 연산)
a = [1, 2]
b = [3, 4]
c = a + b
c

In [ ]:
# 리스트 반복하기 (곱셈 연산)
d = a * 3
d

In [ ]:
# 포함 여부 확인: in
3 in [1, 2, 3, 4]

In [ ]:
# 포함되어 있지 않은지 확인: not in
5 not in [1, 2, 3, 4]

#7.내장 함수
* <font color="blue">len(list)</font> : 리스트의 길이(항목 개수)를 반환
* <font color="blue">max(list)</font> : 리스트에서 가장 큰 값을 반환
* <font color="blue">min(list)</font> : 리스트에서 가장 작은 값을 반환
* <font color="blue">sum(list)</font> : 리스트에 있는 모든 항목의 합을 반환(숫자만 가능)
* <font color="blue">sorted(list)</font> : 정렬된 새 리스트 반환 (원본 변경 X)
* <font color="blue">all(list)</font> : 리스트의 모든 항목이 참인지 확인(하나라도 거짓이면 False를 반환), 0과 ‘’(공백 문자열)은 False로 간주
* <font color="blue">any(list)</font> : 리스트의 항목 중 하나라도 참이면 True를 반환
* <font color="blue">list(iterable)</font> : 튜플 등 다른 자료형을 리스트로 변환
* <font color="blue">reversed(list)</font> : 반복 가능한 객체를 뒤집어서 반복자를 반환

In [ ]:
a_list = [10, 20, 30]
b_list = [0, 10 ,20, 30]
c_list = [0, '']
all(a_list), all(b_list), all(c_list)

In [ ]:
any(a_list), any(b_list), any(c_list)

#8.리스트 기본 메서드(교재 192 페이지)

In [ ]:
# append() :  리스트 맨 끝에 새로운 요소를 하나 추가
my_list = [1, 2, 3]
my_list.append(4)
my_list

In [ ]:
# insert() : 리스트의 특정 위치에 항목 추가
my_list.insert(1, 100) # 1번 인덱스에 100을 추가
my_list

In [ ]:
# extend() :  리스트에 또 다른 리스트나 여러 값을 한꺼번에 뒤에 추가
my_list.extend([100, 200, 300])
my_list

In [ ]:
# remove() : 리스트명.remove(특정 값)
# 리스트에서 특정 값을 찾아서 제거 (단, 첫 번째로 나오는 것만)
my_list.remove(100)
my_list

In [ ]:
# pop() : 리스트명.pop() 또는 리스트명.pop(i)
# 리스트에서 마지막 요소나, 특정 위치(i)의 요소를 꺼내서 삭제
my_list.pop()
my_list.pop(3)

In [ ]:
# 마지막 요소를 꺼내고 남은 요소
my_list

In [ ]:
# clear() : 리스트명.clear()
# 리스트 안을 전부 비워서 빈 리스트로 만듦
my_list.clear()
my_list

In [ ]:
# index() : 리스트명.index(찾고싶은값,시작위치)
# 리스트에서 어떤 값이 몇 번째에 있는지 그 인덱스를 알려줌 (값이 없으면 에러 발생)
my_list = [1, 2, 3, 4, 3, 2, 1]
my_list.index(2)
my_list.index(2, 5)

In [ ]:
# count() : 리스트명.count(찾고싶은값)
# 리스트 안에 어떤 값이 몇 번 등장하는지 알려줌
my_list.count(2)

In [ ]:
# sorted() 함수 : sorted(리스트명, reverse=True)
# 정렬된 새 리스트 반환 (원본 변경 X)
my_list = [1, 2, 3, 4, 5, 6, 1]
sorted(my_list)
# sorted(my_list, reverse=True)
# my_list

In [ ]:
my_list

In [ ]:
# sort() 메서드 : 리스트명.sort( ), 리스트명.sort(reverse=True)
# 리스트 안의 값들을 순서대로 정렬(원본 수정됨) 기본은 오름차순
my_list.sort()
my_list.sort(reverse=True)
my_list

In [ ]:
# reversed(list) 함수
# 정렬없이 반복 가능한 객체를 뒤집어서 반복자를 반환(원본 변경 X)
my_list = [1, 2, 3, 4, 5, 6, 1]
list(reversed(my_list))

In [ ]:
my_list

In [ ]:
# reverse() : 리스트명.reverse() 메서드
# 정렬없이 지금 있는 순서를 반대로 바꿔줌(원본 수정됨)
my_list.reverse()
my_list

In [ ]:
# copy() : new리스트명 = 리스트명.copy()
# 리스트를 그대로 복사해서 새 리스트를 만듦(독립적인 리스트 생성)
# (비교) a = b는 같은 리스트를 공유하는 것
# 2차원 이상의 리스트 복사에는 deepcopy() 필요
my_list = [1, 2, 3, 4, 5, 6, 1]
new_list = my_list.copy()
a = my_list
new_list

In [ ]:
my_list.append(10)
my_list

In [ ]:
new_list

In [ ]:
a

#9.연습문제(내장 함수 및 리스트 메서드)
아래 문제들을 읽고, 파이썬 코드를 직접 작성하여 실행해 보세요.   
1. 다음 리스트의 길이를 출력하세요.   nums = [10, 20, 30, 40]
2. 아래 리스트에서 가장 큰 수와 가장 작은 수를 출력하세요.   scores = [85, 90, 77, 98, 66]
3. 다음 리스트의 총합을 구하세요.   prices = [1200, 1500, 990, 1800]
4. 리스트의 요소들을 오름차순으로 정렬된 새 리스트로 만들어 출력하세요. (원본은 변경하지 마세요)   numbers = [9, 2, 7, 1, 6]
5. 아래 리스트에 0이 포함되어 있는지 확인하여 True 또는 False를 출력하세요.   values = [1, 2, 3, 0]
6. 아래 리스트에 숫자 5를 마지막에 추가한 뒤 출력하세요.   nums = [1, 2, 3, 4]
7. 아래 리스트의 2번 인덱스에 'apple'을 추가한 후 출력하세요.   fruits = ['banana', 'orange', 'grape']
8. 다음 리스트에 [10, 20]을 한꺼번에 추가하여 출력하세요.   data = [1, 2, 3]
9. 아래 리스트에서 첫 번째로 등장하는 'banana'를 제거하고 출력하세요.   fruits = ['apple', 'banana', 'cherry', 'banana']
10. 다음 리스트에서 마지막 요소를 꺼내고, 꺼낸 값과 남은 리스트를 각각 출력하세요.    items = [5, 10, 15, 20]
11. 다음 리스트를 비워서 빈 리스트로 만드세요.    words = ['hello', 'world', 'python']
12. 다음 리스트에서 'cat'은 몇 번 등장하는지 출력하세요.    animals = ['dog', 'cat', 'cat', 'bird', 'cat']
13. 아래 리스트에서 숫자 30이 몇 번째 인덱스에 있는지 구하세요.    scores = [10, 20, 30, 40, 50]
14. 아래 리스트를 내림차순으로 정렬한 후 출력하세요.    nums = [5, 2, 9, 1, 7]
15. 아래 리스트의 순서를 단순히 거꾸로 바꾼 후 출력하세요. (정렬은 하지 말기)    letters = ['a', 'b', 'c', 'd']
16. 다음 리스트를 복사하여 새로운 리스트 b에 저장하고, b의 첫 번째 값을 100으로 바꾼 뒤 a와 b를 비교 출력하세요.    a = [1, 2, 3]
17. 아래 리스트를 b = a로 복사하고, b[0] = 100으로 바꾼 뒤 a와 b를 출력하세요. 어떤 차이가 있나요?    a = [1, 2, 3]
18. 다음 2차원 리스트를 얕은 복사한 후, 내부 리스트의 값을 변경해보세요. 원본에 영향이 가는지 확인하세요.    a = [[1, 2], [3, 4]], b[0][0] = 100
19. 위 문제에서 copy.deepcopy()를 사용해 깊은 복사를 한 후 내부 값을 바꾸어보고, 원본에 영향을 주는지 확인하세요.
20. 문자열 'Hello'를 리스트로 바꿔서 각 문자를 요소로 가진 리스트를 출력하세요.    text = 'Hello'

#교재 188 페이지  
### * 포함 여부 확인: in 연산자

<img src="https://drive.google.com/uc?id=1BgYBu6Vs34vQ7xr5TGM5_nFSFpVxnrPS" width = 800>

In [ ]:
fruits = []

name = input('좋아하는 과일의 이름을 입력하시오: ')
fruits.append(name)
name = input('좋아하는 과일의 이름을 입력하시오: ')
fruits.append(name)
name = input('좋아하는 과일의 이름을 입력하시오: ')
fruits.append(name)

name = input('과일의 이름을 입력하시오: ')
if name in fruits:
  print('이 과일은 당신이 좋아하는 과일입니다.')
else:
  print('이 과일은 당신이 좋아하는 과일이 아닙니다.')

#교재 189 페이지   

<img src="https://drive.google.com/uc?id=1BqIYgDLRgZaBvALSoVjFXThAtRC-4KhI" width=800>

In [ ]:
primes = []               # 소수를 저장할 빈 리스트 생성

for n in range(2, 101):   # 2부터 100까지 반복
  is_prime = True         # 현재 수 n이 소수인지 여부를 저장할 변수(우선 소수라고 저장)
  for num in range(2, n): # 나눌 수 : 2부터 n-1까지 나눠봄
    if n % num == 0:      # 한번이라도 나누어 떨어지면 소수가 아님 -> False가 저장됨
      is_prime = False
  if is_prime:            # 소수이면 리스트에 추가
    primes.append(n)

print('2에서 100사이의 소수들 :')
print(primes)

#10.인덱싱   
* 하나의 요소를 선택할 때 사용
* 파이썬에서 인덱스는 0부터 시작
* 음수 인덱스를 사용하면 뒤에서부터 접근 가능   

<img src='https://drive.google.com/uc?id=1VuAYa_914e03dfZizYUT-izOYGfPFsVJ' width=500>

In [ ]:
letters = ['A', 'B', 'C', 'D', 'E', 'F']
letters[0]
letters[1]

In [ ]:
# 리스트의 맨 끝에 있는 데이터에 접근하는 방법
letters[-1]
letters[5]
letters[len(letters)-1]   # 리스트의 길이로 접근

#11.슬라이싱   

* 여러 개의 요소를 한 번에 잘라서 가져올 때 사용
* 시작 인덱스는 포함, 끝 인덱스는 포함하지 않음 (끝 - 1까지 추출)
* 간격(스텝)은 선택사항이며, 생략하면 1이 기본값    

<img src='https://drive.google.com/uc?id=1W0H6QSXcTzP6y4i90pITw7b-nBCD6Vd2' width=900>

In [ ]:
letters = ['A', 'B', 'C', 'D', 'E', 'F']
letters[2:5]

In [ ]:
# 리스트의 처음부터 세번째 항목까지 슬라이싱(0,1,2)
letters[:3]

In [ ]:
# 리스트의 네번째 항목부터 끝까지 슬라이싱(3,4,5)
letters[3:]

In [ ]:
# 리스트의 처음부터 끝까지 슬라이싱
letters[:]

In [ ]:
# 리스트의 처음부터 2칸씩 건너뜀
letters[::2]

In [ ]:
# 뒤에서부터 앞으로 읽어오며 원소를 생성함
letters[::-1]

#교재 191 페이지
numbers = [4, 5, 6, 7, 8, 9]
<img src='https://drive.google.com/uc?id=1W9xXbUtKqLqXK2MAXsdYrCyk2zpqLXEO' width=900>

In [ ]:
numbers = [4, 5, 6, 7, 8, 9]
numbers[2]
numbers[1:3]
numbers[:3]
numbers[0::2]
numbers[1::2]

#12.리스트의 원소값 조작하기

In [ ]:
# 원소 값 수정하기 (인덱싱 이용)

my_list = [10, 20, 30, 40, 50]
my_list[1] = 99
my_list

In [ ]:
# 여러 개 값 바꾸기 (슬라이싱 이용)

my_list = [10, 20, 30, 40, 50]
my_list[1:4] = [2, 3, 4]
my_list

In [ ]:
# 값 추가하기

my_list = [10, 20, 30, 40, 50]
my_list.append(4)         # 마지막에 추가
# my_list.insert(1, 100)    # 원하는 위치에 삽입
# my_list = my_list + [5]   # 리스트끼리 연결
my_list

In [ ]:
# 값 삭제하기_3가지 방법

my_list = [10, 20, 30, 40, 50]
del my_list[1]          # 인덱스로 삭제
# my_list.remove(30)    # 값으로 삭제 (처음 나오는 것만)
# my_list.pop()         # 꺼내서 삭제 (인덱스 생략 시 마지막)
my_list

In [ ]:
# 값 교환하기

my_list = [10, 20, 30, 40, 50]
my_list[0], my_list[2] = my_list[2], my_list[0]
my_list

In [ ]:
# 리스트의 모든 항목을 한 번씩 방문하려면

bts = ['V', 'J-Hope', 'Suga', 'Jungkook']
for member in bts:
  print(member)

#교재 193 페이지
<img src='https://drive.google.com/uc?id=1Wmu8qbVs2QIQTnOZxJ-IHzPU0LyNh-jg' width=800>

In [ ]:
population = ['Seoul', 9765, 'Busan', 3441, 'Incheon', 2954]
print(f'서울 인구 : {population[1]}')
print(f'인천 인구 : {population[-1]}')
print(f'도시 리스트 : {population[::2]}')
print(f'인구 리스트 : {population[1::2]}, 인구의 합 : {sum(population[1::2])}')

<img src='https://drive.google.com/uc?id=1WztTZsTlMfxVj_DdjfshBGCdJtu9h5FN' width=900>

In [ ]:
s = 'Python is fun'
s[0]
s[-3:]
s[:6]
s[7:9]

#13.문자열도 리스트의 메서드를 사용할 수 있다.(교재 197 페이지)

In [ ]:
# list()함수

s = 'python'
str_list = list(s)  # 문자열 s를 리스트로 변환시키기
str_list

In [ ]:
s[0]          # 첫번째 문자
s[1]          # 두번째 문자
s[-1]         # 마지막 문자
s[0:2]        # 첫 두 문자열
s[2:]         # 세번째 문자부터 끝까지
s[-2:]        # 마지막 두 문자열
s[-1:-3:-1]   # 마지막 두 문자열을 거꾸로 추출

#14.문자열 메서드  join() 과 split()    
## join()
* 리스트나 튜플처럼 여러 개의 문자열이 있는 **자료형을 하나의 문자열로 합칠 때** 사용
* 형식 : **'구분자'.join(문자열리스트)**
* **'구분자'**는 문자열 사이에 넣고 싶은 글자 (예: 쉼표, 공백, 슬래시 등)
* **문자열리스트**는 문자열들로만 이루어진 리스트 또는 튜플

## split()
* **문자열을** 특정 구분자를 기준으로 **나누어 리스트 생성**
* 형식 : **문자열.split(구분자)**
* 구분자 : 문자열을 나눌 기준(예: 공백, 쉼표, 하이픈 등)
* 생략하면 기본값은 공백(스페이스)

In [ ]:
# join() 예시
chars = ['a', 'b', 'c']
print(''.join(chars))
# print('-'.join(chars))

In [ ]:
# sorted()와 join() 활용
# 문자열을 정렬하고 다시 합치기(문자열이 알파벳순으로 재구성됨)
# 알파벳순 'aaabnn'

s = 'banana'
sorted_list = sorted(s)         # 정렬된 리스트로 반환됨
sorted_list
# result = ''.join(sorted_list)   # 리스트를 문자열로 합침
# result

In [ ]:
# split() 예시 : 공백으로 나누기

text = "hello world python"
words = text.split()
words

In [ ]:
# split() 예시 : 쉼표로 나누기

s = '23, 35, 67, 88, 1'
num_list = s.split(',')
num_list

In [ ]:
# split() 예시 : 하이픈으로 나누기

date = "2025-04-09"
parts = date.split('-')
parts

#교재 198 페이지
<img src=' https://drive.google.com/uc?id=1CAfVBMico4W2zDI7fbcUqLWQp905eY7y' width=800>

In [ ]:
# 교재 198 페이지

import random

quotes = []
quotes.append('꿈을 지녀라. 그러면 어려운 현실을 이길 수 있다.')
quotes.append('언제나 현재에 집중할 수 있다면 행복할 것이다.')
quotes.append('고생없이 얻을 수 있는 진실로 귀중한 것은 하나도 없다.')
quotes.append('사람은 사랑할 때 누구나 시인이 된다.')
quotes.append('시작이 반이다.')

print('#'*30)
print('#        오늘의 명언         #')
print('#'*30)
print()
dailyQuote = random.choice(quotes)
print(dailyQuote)

<img src='https://drive.google.com/uc?id=1CCpfuUnaLCaL4b04TS-KDLYggA-EdKg1' width=800>

## eval() 함수
* 문자열 형태로 되어 있는 표현식을 실제로 실행하거나 계산해주는 파이썬 내장 함수
* 문자열을 코드처럼 실행
* 외부 입력을 그대로 실행하기 때문에 보안상 위험
* 사용자 입력을 그대로 넣으면 악성 코드 실행 가능성 있음
```python
user_input = input("수식을 입력하세요: ")   # 예: 100/5 + 6
print("결과:", eval(user_input))
```

In [ ]:
import random

# 1. 산수 문제를 문자열 형태로 리스트에 저장
questions = [       # 대괄호([]), 소괄호(()), 중괄호({}) 안에 있는 내용은 줄을 나누거나 들여쓰기 가능
    '100 + 200',
    '50 * 4',
    '300 - 120',
    '400 / 20',
    '2 ** 5',
    '1000 // 3',
    '150 % 7',
    '25 + 75',
    '90 - 45',
    '10 * 10']

# 2. 랜덤하게 하나 선택
selected_question = random.choice(questions)

# 3. 선택된 문제 출력
print("문제:", selected_question)

# 4. eval()을 사용하여 계산 후 결과 출력
# eval() : 문자열을 파이썬 코드처럼 실행해주는 함수
print("결과:", eval(selected_question))

# <font color='deeppink'>2학년1반 여기까지...

#교재 199 페이지
<img src='https://drive.google.com/uc?id=1CERz6zENpM9uzZcGWdL8JipJxzps1K5H' width=800>

In [ ]:
city_info = [('서울', 9765), ('부산', 3441), ('인천', 2954),
             ('광주', 1501), ('대전', 1531)]
max_pop = 0               # 최대 인구수를 저장할 변수 (초기값: 0으로 시작)
min_pop = 9999999999      # 최소 인구수를 저장할 변수 (초기값: 아주 큰 수)
total_pop = 0             # 총 인구수를 누적해서 저장할 변수

max_city = None           # 최대 인구 도시의 (도시명, 인구수) 튜플을 저장할 변수
min_city = None           # 최소 인구 도시의 (도시명, 인구수) 튜플을 저장할 변수

for city in city_info:
  total_pop += city[1]    # 리스트안의 각 튜플에서 인구(city[1])를 total_pop에 누적

  if city[1] > max_pop :
    max_pop = city[1]     # 최대 인구 업데이트
    max_city = city       # 해당 도시 이름 저장

  if city[1] < min_pop :
    min_pop = city[1]     # 최소 인구 업데이트
    min_city = city       # 해당 도시 이름 저장

print('최대인구: {0}, 인구: {1} 천명'.format(max_city[0], max_city[1]))
print('최소인구: {0}, 인구: {1} 천명'.format(min_city[0], max_city[1]))
print('리스트 도시 평균 인구: {0} 천명'.format(total_pop/len(city_info))) # 평균 인구 계산: 총 인구수를 도시 개수로 나눔

#최솟값, 최댓값 구하기(교재 200~201 페이지)
* for-in 문 사용
* sort() 메서드 사용
* min(), max() 함수 사용

In [ ]:
# for-in 문 사용
def getMinMax(mylist):
    min_value = mylist[0]
    max_value = mylist[0]
    for value in mylist:
        if value > max_value :
            max_value = value
        if value < min_value :
            min_value = value
    return max_value, min_value  # (90,27) 튜플형태 반환

list_data = [82, 27, 90, 30, 87, 56]    # 데이터를 여러 개 담는 리스트 자료구조
print(f'리스트의 원소 :\n{list_data}')
max_v, min_v = getMinMax(list_data)
print(f'최댓값 : {max_v} \n최솟값 : {min_v}')

In [ ]:
# sort() 메서드 사용

def getMinMax(mylist):
   mylist.sort()
   return mylist[0], mylist[-1]

list_data = [82, 27, 90, 30, 87, 56]    # 데이터를 여러 개 담는 리스트 자료구조
print(f'리스트의 원소 :\n{list_data}')
max_v, min_v = getMinMax(list_data)
print(f'최댓값 : {max_v} \n최솟값 : {min_v}')

In [ ]:
# max(), min() 사용

def getMinMax(mylist):
   return max(mylist), min(mylist)

list_data = [82, 27, 90, 30, 87, 56]    # 데이터를 여러 개 담는 리스트 자료구조
print(f'리스트의 원소 :\n{list_data}')
max_v, min_v = getMinMax(list_data)
print(f'최댓값 : {max_v} \n최솟값 : {min_v}')

#15.리스트 객체의 생성과 참조라는 깊이있는 개념(교재 202~203 페이지)
`alist = ['kim', 'Park', 'Lee', 'Hong']`    

* alist라는 새로운 리스트를 만들면   
파이썬은 컴퓨터 메모리에 리스트를 저장한 후에 **리스트의 주소를 alist 변수에 저장한다.**   
* 즉, alist는 리스트의 모든 원소를 담고 있는 것이 아니라,   
리스트의 원소들이 있는 곳의 저장 위치만을 가지고 있다.   
**---> alist가 리스트 객체를 <font color="blue">참조한다</font>**<br>
* 하나의 리스트를 다른 리스트로 복사할 경우에 확실하게 나타남

In [ ]:
# 리스트 복사하기(등호 사용)
# 등호를 사용하며 복사하면 실제 값 자체를 복사하지 않고, 리스트의 저장 위치만 복사됨

alist = ['kim', 'Park', 'Lee', 'Hong']
blist = alist
blist[1] = 'Choi'
alist

In [ ]:
# alist와 blist의 객체의 고유한 식별번호 알아보기
# id() 함수는 객체의 고유 메모리 주소를 출력

print(id(alist))
print(id(blist))

In [ ]:
# 리스트를 복제하여 새로운 리스트 만들기(list()함수 사용)
# list()함수를 사용하면 원래 리스트의 복사본이 생성됨

alist = ['kim', 'Park', 'Lee', 'Hong']
clist = list(alist)
print(id(alist))
print(id(clist))

In [ ]:
# 리스트를 복제하여 새로운 리스트 만들기(슬라이싱 표기법)

alist = ['kim', 'Park', 'Lee', 'Hong']
dlist = alist[:]
print(id(alist))
print(id(dlist))

In [ ]:
# 리스트를 복제하여 새로운 리스트 만들기(copy() 사용)

alist = ['kim', 'Park', 'Lee', 'Hong']
elist = alist.copy()
print(id(alist))
print(id(elist))

2학년2반 여기까지

#16.리스트 함축(list comprehension) 교재 204 페이지
* 코드를 매우 간결하게 작성하는데 아주 유용
* 수학자들이 집합을 정의하는 것과 유사   
<img src='https://drive.google.com/uc?id=1CJ6ndfhFLEduclSDJGO1-RF8-pvYq5aR' width=100>    
자연수에 속하는 x에 대하여 x**2 값들이 모여서 집합을 이룸

In [ ]:
# 리스트 [1, 2, 3, 4, 5] 에 속하는 항목에 대하여 x**2를 계산하여서 이 값들로 이루어진 리스트를 생성한다.

[x**2 for x in [1, 2, 3, 4 , 5]]

* 리스트 함축을 위하여 for - in 문이 사용되며 그 출력의 결과도 리스트이므로 전체 문장을 [ ]로 감싸는 형태를 하고 있음.   
* <font color="blue">[표현식 **for** 변수 **in** 반복가능한_객체]</font><br><br>

<img src='https://drive.google.com/uc?id=1CTCQ2oInaL2PZztSs4BuSlhhDLhPAQkS' width=800>

In [ ]:
# 리스트 함축 미사용
s = []
for x in [1, 2, 3, 4 , 5]:
  s.append(x**2)
s

In [ ]:
# 0에서 9까지 숫자를 포함하는 리스트

[x for x in range(10)]

In [ ]:
# 0에서 9까지 숫자의 제곱 값

[x*x for x in range(10)]

In [ ]:
# 문자열 각각에 대해 uppper() 메서드 적용

st = 'Hello World'
[x.upper() for x in st]

In [ ]:
# 단어의 첫 알파벳을 대문자로 전환
a = ['welcme', 'to', 'the', 'python', 'world']
first_a = [x[0].upper() for x in a]
first_a

# 조건이 붙는 리스트 함축 표현
* 시퀀스가 생성한 값에 대하여 조건을 걸어주는 필터 역할을 하는 if 사용
* <font color="blue">[표현식 **for** 변수 **in** 반복가능한_객체 **if** 조건]</font>
* 숫자, 문자열 등 여러 자료형에 대해서 적용 가능<br><br>
<img src='https://drive.google.com/uc?id=1CVZloPtdYxUoLvbXFibzcHVUm1WL4Jo1' width=800>

In [ ]:
# 0에서 9까지의 숫자 중 짝수를 포함하는 리스트

[x for x in range(10) if x % 2 == 0]

In [ ]:
# 0에서 9까지의 숫자중 짝수의 제곱값 리스트

[x*x for x in range(10) if x % 2 == 0]

In [ ]:
# 숫자로만 되어 있는 항목들을 추출하여 새로운 리스트 생성

s = ['Hello', '12345', 'World', '67890']
numbers = [x for x in s if x.isdigit()]   # isdigit() : 숫자로만 이루어져 있는지 검사하는 문자열 메서드
numbers

In [ ]:
# 문자로만 되어 있는 항목들을 추출하여 새로운 리스트 생성

s = ['Hello', '12345', 'World', '67890']
numbers = [x for x in s if x.isalpha()]   # isalpha() : 문자로만 이루어져 있는지 검사하는 문자열 메서드
numbers

In [ ]:
# 공백으로 구분된 여러 개의 정수를 한 줄에 입력하여, 리스트로 변환
x = [int(x) for x in input('정수를 여러 개 입력하세요:').split()]
x

In [ ]:
# 공백으로 구분된 여러 개의 정수를 한 줄에 입력하여, 리스트로 변환
# 조건(x.isdight())을 만족하는 항목만 int(x) 적용
x = [int(x) for x in input('정수를 여러 개 입력하세요:').split() if x.isdigit()]
x

# 공백 제거 조건 필터링 연습 문제
* 다음과 같은 문자열 리스트에서 빈 문자열 또는 공백만 있는 문자열을 제거하고 남은 값만 리스트로 출력하시오.     
  * strip() : 문자열의 양쪽 끝에 있는 공백(스페이스, 탭, 줄바꿈 등)을 제거해주는 메서드   
  * words = ["hello", "", " ", "Python", "  ", "AI"]

In [ ]:
words = ["hello", "", " ", "Python", " ", "AI"]
result = [x for x in words if x.strip() != ""]
result

# 삼항 연산자(조건 표현식)
* 기본 삼항 조건식
  * 여러 조건을 한 줄로 간결하게 처리할 수 있게 해주는 조건 표현식의 확장된 형태
  * 형식 :  <값1> ***if*** <조건> ***else*** <값2><br>
    <조건>이 참이면 → <값1> 사용<br>
    <조건>이 거짓이면 → <값2> 사용
  <br>
  * 예시
```python
age = 18
status = "성인" if age >= 18 else "청소년"
```
* 중첩 삼항 조건식 : 삼항 조건식을 또 다른 삼항 조건식 안에 넣은 것
    * 형식 : <값1> ***if*** <조건1> ***else*** <값2> ***if*** <조건2> ***else*** <값3>   
    * 먼저 <조건1>을 검사<br>
      참이면 → <값1><br>
      <조건1>이 거짓일 경우 <조건2> 검사<br>
      참이면 → <값2><br>
      조건1과 조건2 모두 거짓이면 → <값3>

* <문제>   
문자열이 숫자로 시작하면 "숫자", 알파벳으로 시작하면 "문자", 그 외는 "기타"로 구분하여 리스트를 만드시오   
  * data = ['123abc', 'hello', '@error']

In [ ]:
data =  ['123abc', 'hello', '@error']
result = [
    '숫자' if x[0].isdigit()
    else '문자' if x[0].isalpha()
    else '기타' for x in data
    ]
result

# 삼항 연산자, 필터 조건
* 삼항 연산자
  * [A if 조건 else B for 변수 in 시퀀스]
  * 조건에 따라 A 또는 B 생성
* 필터 조건 사용
  * [A for 변수 in 시퀀스 if 조건]
  * 조건에 맞는 항목만 남김

#중첩된 for문을 이용한 리스트 컴프리헨션

In [ ]:
# x와 y을 사용하여 다른 리스트의 항목을 가져와서 튜플로 새로운 리스트 생성
# 모든 조합 생성

[(x, y) for x in [1, 2, 3] for y in [3, 1, 4]]

In [ ]:
# x와 y을 사용하여 다른 리스트의 항목을 가져와서 튜플로 새로운 리스트 생성
# x원소와 y원소가 같은 경우 제외

[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

# 17.튜플
* 한번 생성하면 그 값을 고칠 수 없는 자료형
* 리스트와 아주 유사함
* 장점 : 구조가 단순하고 리스트에 비하여 접근 속도가 빠름
* 불변 속성 객체이므로 내부 항목 변경 불가
* 시퀀스의 일종이므로 인덱싱과 슬라이싱 가능
* 결합 연산자(+)와 반복 연산자(*) 사용 가능
* 함수는 여러 개의 값을 반환할 때, 자동으로 튜플 형태로 반환한다.  

<img src='https://drive.google.com/uc?id=1CZ0v_4c9nWSYplFf-Ck4GQDnUsVgA1mz' width=900>

In [ ]:
# 튜플 생성
color = ('red', 'green', 'blue')
print(color)
print(type(color))

In [ ]:
# 불변 속성 객체이므로 내부 항목 변경 불가
numbers = (1, 2, 3, 4, 5)
numbers[0] = 100

In [ ]:
# 인덱싱과 슬라이싱 가능
numbers = (1, 2, 3, 4, 5)
numbers[0]
numbers[1:4]

In [ ]:
# 결합 연산자(+)와 반복 연산자(*)
color_numbers = color + numbers
color_2 = color * 2
print(color_numbers)
print(type(color_numbers))
print(color_2)
print(type(color_2))

* 쉼표( , )는 튜플을 만드는 핵심 요소이고,
* 괄호는 선택사항임 (가독성을 위해 쓰는 경우가 많음)

In [ ]:
x = 100 ,200
print(x, type(x))
x = (100, 200)
print(x, type(x))

In [ ]:
a ,b = 100, 200
a, b = b, a
# 오른쪽 b, a는 튜플 (b, a)
# 순서대로 a = b, b = a가 되는 게 아니고
# 오른쪽 (b, a) 튜플의 첫 번째 값이 a, 두 번째 값이 b에 동시에 할당됨
print('a=',a, 'b=',b)

#18.zip()함수를 사용한 집적화(교재 208 페이지)
* 여러 개의 iterable(반복 가능한 객체)를 병렬로 묶어주는 함수
  * 반복 가능한 객체 : 리스트, 튜플, 딕셔너리, 집합
* 기본 구조
  * **zip(iterable1, iterable2, ...)**
  * 각 iterable의 동일한 인덱스 요소들을 하나의 튜플로 묶음
  * 반환되는 객체는 zip 객체(lazy 객체) → list()로 감싸면 리스트로 볼 수 있음   
<img src='https://drive.google.com/uc?id=1CgXG2YMvicnp1Cv1Mjm50gPpHnCcMF2O' width=1000>

In [ ]:
name = ['서울', '부산', '광주']        # 도시 이름
population = (9765, 3441, 1501)        # 도시의 인구(단위 : 천명)

city_info = list(zip(name, population)) # 집적화한 자료를 리스트 자료형으로 만들기
print('city_info=', city_info)

city_info= [('서울', 9765), ('부산', 3441), ('광주', 1501)]

# zip()의 반대: unzip
* zip()은 여러 iterable을 묶어서 튜플로 반환하는 함수인데, unzip은 묶인 튜플을 다시 개별 요소로 분리하는 것
* 기본 구조
  * **zip(<font color="blue">*</font>iterable)**
  * **<font color="blue">*</font>**는 **언패킹(unpacking)**을 의미하며, 여러 튜플을 분리하여 각각의 원소로 나누는 작업을 함<br><br>
  
<img src='https://drive.google.com/uc?id=1CmEXoIODTmfdle2HeMZuoMvO9Z60q0me' width=800>

In [ ]:
city_name, city_pop = zip(*city_info)
print('city_name =', city_name)
print('city_pop =', city_pop)

In [ ]:
# 인구수의 최대값을 구하고 index() 메서드를 사용하여 이 도시의 이름을 구해서 출력해 보자

max_pop = max(city_pop)
n = city_pop.index(max_pop)
print('최대 인구 도시: {0} 인구: {1} 천명'.format(city_name[n], city_pop[n]))

#20.클래스와 객체
* 객체지향 프로그래밍 : 다양한 객체들을 클래스로 미리 정의하고,
이 객체들이 서로 상호작용하며 프로그램을 구성하고 문제를 해결하는 방식
* 클래스 : 객체를 만들기 위한 설계도(틀)이며, 객체가 가져야 할 속성(변수)과 동작(함수)을 정의한 것
* 객체 : 클래스로부터 만들어진 개별 대상, 실제 프로그램에서 사용하는 구체적인 실체
* 속성 : 객체가 저장하고 있는 값들(변수) -> 클래스 안에서는 self.속성명으로 표현됨
* 메서드 : 객체가 할 수 있는 동작(기능) -> 클래스안에서 def로 정의되는 함수

<img src='https://drive.google.com/uc?id=1CnmXnujbpp8is0zICO6gtynzwmMG5mKO' width=900>

#21.심화문제(교재 213 페이지)

##7.1_ 슬라이싱
다음과 같이 파이썬 프로그램을 실행할 적에, 다음 밑줄 안에 들어갈 알맞은 결과는 무엇인가? 미리 예측해본 후 실행시켜보고 그 결과를 적어라.   
num_list = [100, 200, 300, 400, 500, 600, 700, 800]   
high = 6   
low = 3

In [ ]:
num_list = [100, 200, 300, 400, 500, 600, 700, 800]
high = 6
low = 3

In [ ]:
num_list[high]

In [ ]:
num_list[high-2]

In [ ]:
num_list[high-low]

In [ ]:
num_list[low-high]

In [ ]:
num_list[-1]

In [ ]:
num_list[-low]

In [ ]:
num_list[2*3]

In [ ]:
num_list[2]*3

In [ ]:
num_list[5%4]

In [ ]:
len(num_list), min(num_list), max(num_list)

In [ ]:
num_list[:3]

In [ ]:
num_list[1:5]

In [ ]:
num_list[-1:-5:-1]

In [ ]:
num_list[-5:-1:1]

##7.2_ 이중 for 루프(원소의 곱셈)
다음과 같은 list1, list2가 있을 경우 이중 for루프를 사용하여 list1과 list2의 각 원소를 곱한 후 원소의 곱셈을 아래와 같이 출력하여라.<br>
list1 = [3, 5, 7]<br>
list2 = [2, 3, 4, 5, 6]

* 출력<br>
3 * 2 =  6<br>
3 * 3 =  9<br>
3 * 4 = 12<br>
3 * 5 = 15<br>
3 * 6 = 18<br>
...

In [ ]:
list1 = [3, 5, 7]
list2 = [2, 3, 4, 5, 6]
for i in list1:
  for j in list2:
    print(f'{i} * {j} = {i*j:2d}')

##7.3_ I like pancakes.
다음과 같은 문자열을 가진 두 개의 리스트 list1, list2가 있을 경우 list1과 list2의 모든 조합을 생성하여 다음과 같이 출력하여라.<br>
list1 = ['I like', 'I love']<br>
list2 = ['pancakes.', 'kiwi juice.', 'espresso.']<br>
* 출력<br>
I like pancakes.<br>
I like kiwi juice.<br>
I like espresso.<br>
I love pancakes.<br>
I love kiwi juice.<br>
I love espresso.

In [ ]:
list1 = ['I like', 'I love']
list2 = ['pancakes.', 'kiwi juice.', 'espresso.']
for i in list1:
  for j in list2:
    print(i , j)

##7.4_ 오류 찾기
다음의 코드에서 잘못된 부분은 무엇인가? 어떤 이유에서 오류가 발생하는지 설명하라.

```python
t = (10, 20, 30, 40)
t.append(50)
t.remove(40)
t[0] = 0
```

In [ ]:
t = (10, 20, 30, 40)
t.append(50)
t.remove(40)
t[0] = 0

##7.5_ 공연장 좌석번호
('A', 'B', 'C')튜플과 ('1', '2')을 조합하여 다음과 같은 공연장의 좌석번호를 생성하는 프로그램을 작성하여라. 이 때 ('1', '2') 대신 정수로 이루어진 튜플 (1, 2)가 있을 경우 동일한 결과가 나타나도록 다시 프로그램을 작성하여라. (리스트 함축 사용)
<br><br>
['A1', 'A2', 'B1', 'B2', 'C1', 'C2']

In [ ]:
word = ('A', 'B', 'C')
number = ('1', '2')
for i in word:
    for j in number:
        print(i+j, end=' ')

In [ ]:
# ('1', '2')인 경우
word = ('A', 'B', 'C')
number = ('1', '2')
seats = [x+y for x in word for y in number]
print(seats)

In [ ]:
 # (1, 2)인 경우
word = ('A', 'B', 'C')
number = ('1', '2')
seats = [x+str(y) for x in word for y in number]
print(seats)

##7.6 * _피라미드 패턴 출력
사용자로부터 임의의 문자열을 입력으로 받은 후이 문자열에 대하여 다음과 같은 피라미드 패턴을 만들어 출력하는 프로그램을 작성하여라.<br>
이 때 파이썬의 ***문자열 슬라이싱*** 기능을 사용하도록 하여라.
<br>
p   
py   
pyt   
pyth   
pytho<br>
python   
pytho   
pyth   
pyt   
py   
p

피라미드 설명
* 문자열 늘리기<br>
  range(1, len(word)+1) : 1부터 문자열 길이까지 반복
* 문자열 줄이기<br>
  range(-1, -len(word), -1)은 -1, -2, -3, ... 식으로 진행<br>
  음수 인덱스는 끝에서부터 자르기

In [ ]:
word = input('문자열을 입력하세요:')
size = len(word)

for i in range(1,size+1):
  print(word[:i])     # 앞에서부터 점점 증가
for i in range(-1, -size, -1):
  print(word[:i])     # 뒤에서부터 점점 감소
                      # i가 -1(마지막 인덱스)인 경우 -2(마지막 인덱스 전)까지 출력됨 pytho

##7.7 * _ 긴 문자열 제거
fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']라는 리스트가 존재한다.<br>
이 리스트에 대하여 다음과 같은 작업을 수행하여라.<br><br>
1) 이 fruit_list에서 가장 길이가 긴 문자열을 찾아서 출력하고 이 리스트에서 삭제하라.<br>
이 때 동일한 길이의 문자열이 있을 경우 이들을 모두 삭제하라.
<br>
* 가장 길이가 긴 문자열 : banana, orange
<br>
* fruit_list = ['kiwi', 'apple', 'melon']

문제설명
* 과일 중에서 가장 이름이 긴 과일을 찾아서 리스트에서 제거하기
* 같은 길이의 과일이 여러 개 있을 수도 있으므로, 전부 제거해야 함
* 리스트에서 값을 제거할 땐 remove() 메서드를 사용
<br><br>

순서
1.   for 반복문 : fruit_list에서 과일 이름을 하나씩 꺼내면서 길이를 비교
2.   if 조건문 : 현재까지 본 과일보다 더 긴 이름이 나오면
→ 리스트와 최대 길이(max_size)를 새로 갱신
3.   elif 조건문 : 현재 과일이 기존 최대 길이와 같다면
→ 리스트에 추가
4.   for 반복문: 가장 긴 과일 이름들이 저장된 리스트를 돌면서
→ fruit_list에서 remove()로 제거

In [ ]:
fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']
max_size = 0
max_list = []
for fruit in fruit_list:
  if len(fruit) > max_size:
    max_list = [fruit]            # 현재 과일 이름이 더 길면 max_list를 이 과일 하나로 초기화
    max_size = len(fruit)
  elif len(fruit) == max_size:
    max_list.append(fruit)        # 길이가 같다면 max_list에 추가 (동일 길이 과일이 여럿일 경우)

for fruit in max_list:
  fruit_list.remove(fruit)        # max_list에 있는 가장 긴 과일 이름들을 fruit_list에서 제거

print('fruit_list =', fruit_list)

In [ ]:
리스트 컴프리헨션

fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']
fruit_list = [fruit for fruit in fruit_list if len(fruit) < max(map(len, fruit_list))]

# 1 가장 긴 과일의 길이 구하기
max_length = max(map(len, fruit_list))  # 각 과일 이름의 길이 중 최댓값
# 2 가장 긴 과일만 제외한 새 리스트 만들기
filtered = []
for fruit in fruit_list:
    if len(fruit) < max_length:
        filtered.append(fruit)
# 3 최종 결과를 다시 fruit_list에 저장
fruit_list = filtered
print('fruit_list =', fruit_list)

##7.7_ 문자열의 길이 출력
fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']<br><br>
2) 이 fruit_list와 for 제어문을 이용하여 다음과 같은 문장을 출력하여라.<br>

<img src='https://drive.google.com/uc?id=1ZxB28KFLqpXd6MQMMph3OfKYnQhkfXP-' width=200>

In [ ]:
fruit_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']
for fruit in fruit_list:
  print(f'{fruit:6} : 문자열의 길이 {len(fruit)}')

##7.8 *_ 뱀행렬(삼항연산자)
사용자로부터 숫자 1보다 크고 10보다 작은 값 n을 입력으로 받아서 다음과 같이 뱀의 몸통처럼 증가하는 이차원 배열을 출력하는 뱀행렬을 생성하여라. 이 행렬의 특징은 n이 5일 때 5×5 크기의 2차원 배열을 생성하는데, 이때 홀수 번째 행이 증가하는 방향이 될 경우 짝수 번째 행은 숫자가 감소하는 형태를 가지는 특징이 있다.
이 문제를 반드시 for 반복문과 리스트 슬라이싱을 사용하여 풀어보아라.
<br><br>
<img src='https://drive.google.com/uc?id=1ZyVw7HsbN6sVVxSibFgZWYmfTTnmRcZ5' width=250>

In [ ]:
# 1. 배열의 크기 입력
n = int(input('n을 입력하시오 : '))  # 배열의 크기(예:5)

# 2. 1부터 n까지의 열 번호 리스트 생성
col_numbers = [col + 1 for col in range(n)]   # 예: [1, 2, 3, 4, 5]

# 3. 각 행(row)을 반복하며 출력할 숫자를 생성
for row in col_numbers:  # row: 현재 행 번호 (1부터 시작)

    # 3-1. 출력 방향 결정
    if row % 2 == 1:
        current_row = col_numbers[::1]   # 홀수 행: 왼쪽 → 오른쪽 [1, 2, 3, 4, 5]
    else:
        current_row = col_numbers[::-1]  # 짝수 행: 오른쪽 → 왼쪽 (역순) [5, 4, 3, 2, 1]

    # 3-2. 행 번호와 열 번호를 조합하여 실제 숫자 계산 후 출력
    for col in current_row:             # [1, 2, 3, 4, 5] 또는 [5, 4, 3, 2, 1]
        # 출력 숫자 계산: (행 번호 - 1) * 가로 길이 + 열 번호
        cell_number = (row - 1) * n + col
        print(f"{cell_number:3d}", end=' ')

    print()  # 줄바꿈

뱀행렬 코드 중 if문을 삼항 연산자로 바꾸면

```python
    # 3-1. 출력 방향 결정
    if row % 2 == 1:
        current_row = col_numbers[::1]
    else:
        current_row = col_numbers[::-1]

    # 삼항 연산자
    current_row = col_numbers[::1] if row % 2 == 1 else col_numbers[::-1]
```

In [ ]:
# 1. 배열의 크기 입력
n = int(input('n을 입력하시오 : '))  # 배열의 크기(예:5)

# 2. 1부터 n까지의 열 번호 리스트 생성
col_numbers = [col + 1 for col in range(n)]   # 예: [1, 2, 3, 4, 5]

# 3. 각 행(row)을 반복하며 출력할 숫자를 생성
for row in col_numbers:  # row: 현재 행 번호 (1부터 시작)

    # 3-1. 출력 방향 결정(삼항 연산자)
    current_row = col_numbers[::1] if row % 2 == 1 else col_numbers[::-1]

    # 3-2. 행 번호와 열 번호를 조합하여 실제 숫자 계산 후 출력
    for col in current_row:             # [1, 2, 3, 4, 5] 또는 [5, 4, 3, 2, 1]
        # 출력 숫자 계산: (행 번호 - 1) * 가로 길이 + 열 번호
        cell_number = (row - 1) * n + col
        print(f"{cell_number:3d}", end=' ')

    print()  # 줄바꿈

##7.9 *_ 문자열 겹치기
사용자로부터 두 문자열 A, B를 입력으로 받도록 하자. 그리고 A의 뒷부분과 B의 앞부분을 가장 길게 일치시켜 둘을 겹치게 만든 새로운 문자열 C를 만드는 프로그램을 작성하라. 만약 A의 뒷부분과 B의 앞부분이 다르면 B를 A 뒤에 바로 붙여야 한다. 다음 예시를 참고하여라. 이를 위하여 C=overlap(A, B)와 같이 A, B를 인자로 받아 C를 반환하는 함수 overlap()를 구현하여라.<br>
<img src='https://drive.google.com/uc?id=1_9Lzz6sulzoEsXbTxnwX5SI4VmRisFRJ' width=400>

### 생각해 보기
- 단순히 문자열을 붙이면 어떤 문제가 생길까요?
- 겹치는 부분을 어떻게 찾을 수 있을까요?
- 문자열의 어떤 부분을 비교해야 할까요?
- 반복문과 슬라이싱을 어떻게 활용할 수 있을까요?

In [ ]:
def overlap(word1, word2):
  length = min(len(word1), len(word2))
  for i in range(length):
    if word1[-(length-i):] == word2[:length-i]:
      return word1 + word2[length-i:]
  return word1+word2

word1 = input('첫번째 단어을 입력하세요:')
word2 = input('두번째 단어을 입력하세요:')
print(f'{word1} + {word2} = {overlap(word1, word2)}')

In [ ]:
[(fruits:=['banana','orange','grape']).insert(2,"apple"),print(fruits)]